@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d9e5ff;
  position: relative;
}

.header-bg {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.64) 0%,
    rgba(255, 255, 255, 0.64) 100%
  );
}

.logomenubg {
  box-shadow: 0px 15px 40px 0px #dedede1a;
}

.text-gradient {
  background: linear-gradient(101.84deg, #5c24fc 2.78%, #9d7aff 98.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(101.84deg, #5c24fc 2.78%, #9d7aff 98.95%);
}
.btn-red-gradient{
  background: linear-gradient(101.84deg, #FC2424 2.78%, #FF7A7A 98.95%);
}

.bg-gradient-playbtn{
  background: linear-gradient(101.84deg, #16AE8A 2.78%, #3DE6BE 98.95%);
}

.bg-gradient-pausebtn{
  background: linear-gradient(101.84deg, #FCC224 2.78%, #FF8A7A 98.95%);
}

.windows-bg {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.38),
      rgba(255, 255, 255, 0.38)
    ),
    linear-gradient(0deg, rgba(123, 59, 172, 0.23), rgba(123, 59, 172, 0.23));
  backdrop-filter: blur(6px);
  z-index: 99;
}

.closebtn-bg {
  background: linear-gradient(101.84deg, #fc2424 2.78%, #ff7a7a 98.95%);
  box-shadow: 0px 4px 24px 0px #0000000a;
}

.tabs-scrollbar::-webkit-scrollbar {
  width: 0;
}

.footer-blur {
  backdrop-filter: blur(150px);
}

.shadow-1{
  box-shadow: 0px 15px 40px 0px #CAB3B366;
}

.mySwiper .swiper-pagination-bullet {
  background: #baccfd;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
  z-index: 20;
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: linear-gradient(101.84deg, #5c24fc 2.78%, #9d7aff 98.95%);
  width: 50px;
  height: 15px;
  border-radius: 30px;
  z-index: 20;
}

.langmenu {
  background: linear-gradient(
    111.61deg,
    #fff 15.17%,
    #f9f9f9 55.5%,
    #fafafa 95.84%
  );
  backdrop-filter: blur(13px);
  box-shadow: 0 0 12px 0 rgba(15, 10, 25, 0.1);
}



.animate-spin {
  animation: spin 1s linear infinite;
}

.download-bg {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    hsla(0, 0%, 97%, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.contactform-bg {
  background-image: url("/assets/contactform-bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 768px) {
  .mySwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .mySwiper .swiper-pagination-bullet-active {
    width: 36px;
    height: 12px;
  }
}

.formscrollbar::-webkit-scrollbar {
  width: 0;
}

.borderUpload {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%233D2278FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
}

.supplierPayment {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    hsla(0, 0%, 97%, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.no-scroll {
  overflow: hidden;
}


/* General style for all slides */
.swiper-slide {
  transition: all 0.3s ease; 
  filter: grayscale(
    100%
  ); 
  transform: scale(0.95); 
  z-index: 0 !important;
}

/* Style for the active slide */
.swiper-slide-active {
  opacity: 1 !important;
  filter: grayscale(0) !important;
  transform: scale(1) !important;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease !important;
}

/* Style for the previous and next slides */
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5 !important;
  filter: grayscale(100%) !important;
  transform: scale(0.95) !important;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease !important;
}
