@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  backdrop-filter: blur(13px);
  box-shadow: 0 0 12px 0 rgba(15, 10, 25, 0.1);
}

.langmenu {
  background: linear-gradient(
    111.61deg,
    #fff 15.17%,
    #f9f9f9 55.5%,
    #fafafa 95.84%
  );
  backdrop-filter: blur(13px);
  box-shadow: 0 0 12px 0 rgba(15, 10, 25, 0.1);
}

.workoutbg {
  background-image: url("/assets/workoutbg.webp");
}

.tabs-scrollbar::-webkit-scrollbar {
  width: 0;
}

.tab-btn {
  background: linear-gradient(
    111.61deg,
    #fff 15.17%,
    #f9f9f9 55.5%,
    #fafafa 95.84%
  );
  backdrop-filter: blur(13px);
  box-shadow: 0 0 12px 0 #0f0a191a;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.download-bg {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    hsla(0, 0%, 97%, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.shadow-1 {
  box-shadow: 0px 5px 20px 0px #0f10170f;
}

.shadow-2 {
  box-shadow: 0 2px 15px 0 #0f101714;
}

.contactform-bg {
  background-image: url("/assets/contactform-bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactformshadow {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    rgba(248, 248, 248, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.shadow-3 {
  box-shadow: 0px 0px 10px 0px #0000000d;
  border: 1.5px solid #0f0a191a;
}

.faq {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    rgba(248, 248, 248, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.productbox {
  background: linear-gradient(
    111.61deg,
    rgba(255, 255, 255, 0.6) 15.17%,
    rgba(255, 255, 255, 0.4) 95.84%
  );
  backdrop-filter: blur(13px);

  box-shadow: -3px 11px 41px 0px #9f9f9f26;
}

.mySwiper .swiper-pagination-bullet {
  background: #3d227833;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #3d2278;
  width: 45px;
  height: 15px;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .mySwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .mySwiper .swiper-pagination-bullet-active {
    width: 36px;
    height: 12px;
  }
}

.formscrollbar::-webkit-scrollbar {
  width: 0;
}

.borderUpload {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%233D2278FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
}

.supplierPayment {
  background: linear-gradient(
    278.14deg,
    rgba(253, 241, 255, 0.85) 5.41%,
    hsla(0, 0%, 97%, 0.85) 50.97%,
    rgba(236, 235, 255, 0.85) 96.52%
  );
}

.no-scroll {
  overflow: hidden;
}

.logobg {
  backdrop-filter: blur(13px);
  background: linear-gradient(
    111.61deg,
    #ffffff 15.17%,
    #f9f9f9 55.5%,
    #fafafa 95.84%
  );

  box-shadow: 0px 0px 12px 0px #0f0a191a;
}
